# Python
__pycache__/
*.py[cod]
*$py.class
.env
thinkviewer.db

# Node
node_modules/
package-lock.json

# OS
.DS_Store
Thumbs.db

# Local uploads and screenshots
uploads/
*.png
# Allow screenshots folder
!screenshots/
!screenshots/*.png
